<article class="product">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="css/uploadImages/{{filename}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{product_name}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text">By:{{user.username}}</p>
            <p class="card-text">Email:{{user.email}}</p>
            <p class="btn">${{price}}</p>
        </div>
    </div>
</article>