<section class="card">
    <!-- The contents of the product card links to the product page using the product ID -->
    <a href="/product/{{id}}">
        <!-- The card contains the product name as the card header -->
        <header>{{title}}</header>
        <!-- In the body of the card, the product is rendered along with the artist name -->

        <div class="card-body">
            <img src="/images/{{filename}}" alt="{{description}}">
            <p>By: {{price}}</p>
            <P>By: {{description}}</P>
        </div>
    </a>
</section>