<!-- If the user is logged in, render the painting content -->
{{#if loggedIn}}
<section class="shirts">
  <img src="/images/{{shirts.filename}}" alt="{{shirts.description}}">
  <div class="painting-details">
    <h3>{{shirts.title}}</h3>
    <p>By: {{shirts.user}}</p>
  </div>
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view these shirts</a>
{{/if}}
